// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:
.cancelled {
    background-color: #be6767;
}

.posted {
    background-color: #6788be;
}

.draft {
    background-color: #a6a6a6;
}
